.LoadingBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 101;
    height: 2px;
    pointer-events: none;
    background-image: linear-gradient(to right, rgb(76, 217, 100), rgb(90, 200, 250), rgb(0, 122, 255), rgb(52, 170, 220), rgb(88, 86, 214), rgb(255, 45, 85));
    transition: width linear 200ms, height ease-in 200ms;
}

@keyframes LoadingBarForward {
    0% {
        transform: translateX(-100%)
    }

    40% {
        transform: translateX(0)
    }

    60% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100%)
    }
}
